@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Bold.woff2') format('woff2'),
        url('GothamSSm-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Medium.woff2') format('woff2'),
        url('GothamSSm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Condensed';
    src: url('RingsideCondensed-Black.woff2') format('woff2'),
        url('RingsideCondensed-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Book.woff2') format('woff2'),
        url('GothamSSm-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

